@using eMotive.CMS.Extensions
@using eMotive.CMS.Models.Objects.Menu
@model Menu


@if (Model != null && Model.MenuItems.HasContent())
{
    foreach (var item in Model.MenuItems)
    {
        var menuActive = new HashSet<string>();

        if (Request.Url != null && (Request.Url.AbsolutePath == item.URL))
        {
            menuActive.Add(item.URL);
        }

        if (item.MenuItems.HasContent())
        {
            foreach (var submenu in item.MenuItems)
            {
                if (Request.Url != null && ((Request.Url.AbsolutePath == submenu.URL)))
                {
                    menuActive.Add(item.URL);
                    menuActive.Add(submenu.URL);
                }
            }

            <li class="dropdown @{if (menuActive.Contains(item.URL)) { <text>active</text>}}">

                <a class="dropdown-toggle" title="@item.Title" href="#" data-toggle="dropdown">@Html.Raw(item.Icon) @item.Name<b class="caret"></b></a>

                <ul class="dropdown-menu">
                    @foreach (var submenu in item.MenuItems)
                    {

                        <li @{if (menuActive.Contains(submenu.URL)) { <text> class="active" </text>              }}>
                            <a href="@submenu.URL">
                                <i class="@Html.Raw(submenu.Icon)"></i>
                                <span class="menu-text"> @submenu.Title </span>
                            </a>

                            <b class="arrow"></b>
                        </li>
                    }
                </ul>
            </li>
        }
        else
        {
            <li @{if (menuActive.Contains(item.URL)) { <text> class="active" </text>  }}>
                <a href="@item.URL">
                    <i class="@Html.Raw(item.Icon)"></i>
                    <span class="menu-text"> @item.Title </span>
                </a>

                <b class="arrow"></b>
            </li>

        }
    }

}




